@{
    ViewData["Title"] = "Menu Cafe";
    
}
<h1>@ViewData["Title"]</h1>
<h1 class="display-8">1.Caffee Brown Suger</h1>
<h1 class="display-8">2.Ice Americano</h1>
<h1 class="display-8">3.Ice Latte</h1>
<h1 class="display-8">4.Ice Kopi Salted Karamel</h1>
<h1 class="display-8">5.Red Valvet</h1>
<h1 class="display-8">6.Smooth Talker</h1>

<p>Use this page to detail your site's privacy policy.</p>
